.fightarea {
  display: flex;
  gap: 20px;
}

#char, #monster { flex: 1; }

.lifebar {
  height: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.lifebar .bar {
  height: inherit;
  background-color: red;
  border-radius: 5px;
}

.log {
  border: 1px dotted grey;
  height: 180px;
  overflow: auto;
}
