<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{{ profile.name }}</title>
  </head>

  <body>
    <h1>{{ profile.name }}</h1>

    <p>{{ profile.bio }}</p>

    <p>{{ profile.github }}</p>

    <p>{{ profile.linkedin }}</p>

    <h2>Projetos</h2>

    {% for project in projects %}

    <div>
      <h3>{{ project.name }}</h3>

      <p>{{ project.key_skill }}</p>

      <p>{{ project.keyword }}</p>
    </div>

    {% endfor %}

    <h2>Certificados</h2>

    {% for certificate in certificates %}

    <div>
      <p>{{ certificate.name }}</p>

      <p>{{ certificate.certifying_institution.name }}</p>
    </div>

    {% endfor %}
  </body>
</html>
