{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<section class="messenger">
  <!-- cabeçalho -->
  <header class="messenger-header">

    <div class="messenger-header-title">
      <i class="fas fa-comment-alt">Trybot</i>
    </div>

    <div class="messenger-header-options">
      <span><i class="fas fa-cog"></i></span>
    </div>
  </header>

  <main class="messenger-chat" id="chat">
    <!-- loop for nas mensagens recebidas da controller -->
    {% for message in session_messages %}
      <!-- se mensagem é do Trybot, deve alinhar a esquerda e definir avatar-->
      {% if message['sender'] == 'Trybot' %}
        {% set class_message = 'left-msg' %}
        {% set file_name = 'images/avatar.png' %}
      {% else %}
        {% set class_message = 'right-msg' %}
        {% set file_name = 'images/avatar-user.png' %}
      {% endif %}

      <div class="msg {{ class_message }}">
        <div class="msg-avatar">
          <img src="{{ url_for('static', filename=file_name)}}" width="100%">
        </div>

        <div class="msg-ballon">
          <div class="msg-info">
            <div class="msg-info-name">{{ message['sender'] }}</div>
            <div class="msg-info-time">{{ message['time'] }}</div>
          </div>

          <div class="msg-text">
            {{message['content']|safe}}
          </div>
        </div>
      </div>
    {% endfor %}
  </main>

  <form method="post" class="messenger-inputarea">
    <input type="text" name="message-content" class="messenger-input" placeholder="Escreva sua mensagem...">
    <input type="hidden" name="username" value="{{ username }}">
    <button type="submit" class="messenger-send-btn">Enviar</button>
  </form>
</section>

<!-- 

Aqui estamos usando JavaScript para descer a barra de rolagem ao carregar o chat, algo que só pode ser feito no lado do cliente.

Adicionamos alguns comentários no código para explicar o que está sendo feito. No entanto, como esse não é nosso foco, não há necessidade de entendê-lo perfeitamente antes de seguir com a lição.

-->
<script>
// Verifica se o método 'replaceState' está disponível no objeto 'history' do navegador
if (window.history.replaceState) {
  // Substitui a entrada atual do histórico com a mesma URL, sem recarregar a página.
  // Isso é útil para evitar que o formulário seja re-submetido quando o usuário tenta navegar para a mesma URL.
  window.history.replaceState(null, null, window.location.href);
}

// Obtém a referência ao elemento HTML com o ID 'chat'.
const chatDiv = document.getElementById("chat");

// Define a posição de rolagem do elemento 'chatDiv' para a parte inferior.
// Isso faz com que o conteúdo do chat seja rolado automaticamente para a última mensagem.
chatDiv.scrollTop = chatDiv.scrollHeight;

</script>
{% endblock %}